header {
    padding: 0 30px;
}

/****** Title ***********/
.title {
    margin-bottom: 35px;
}

.title h2 {
    font-weight: bold;
}
.title h1 {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
}
.title .sub-title {
    font-size: 16px;
    line-height: 18px;
}


/****** Search ***********/
.search {
    display: flex;
    flex-direction: row;
    height: 50px;
    margin-bottom: 35px;
}
.search i {
    background-color: var(--main-bg-color);
    width: 50px;
    border-radius: 15px 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    cursor: pointer;
}

.search .search-input {
    border: 1px solid var(--main-bg-color);
    padding: 10px 20px;
}

.search .search-input::placeholder {
    font-weight: bold;
    color: #000;
}

.search .search-button {
    background-color: var(--main-color);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-weight: bold;
    cursor: pointer;
}

.search-button:hover{
    opacity: 0.5;
    transform: scale(1.05)
}

.fa.fa-search{
    border-radius: 0px 20px 20px 0px;
}


/****** Filters ***********/
.filters-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 35px;
}

.filters-section span {
    font-weight: bold;
}

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
} 
    
.filter-container .filter {
    border: 2px solid var(--main-bg-color);
    padding: 10px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
    cursor: pointer;
} 
.filter-container .filter:hover {
    opacity: 0.5;
    transform: scale(1.05)
}



/******Hebergements*******/
.heberg-pop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.main-rental {
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-rental h2 { 
    font-weight: bolder;
}

.main-rental h4 {
    font-weight: bold;
    font-family: 'Raleway';
    margin: 10px 0px 10px 10px
}
.main-rental p {
    margin: 10px 0px 10px 10px
}

.card-rating1 {
    margin: 10px 0px 10px 10px;
}

.photos-rental {
    display: flex;
    justify-content: space-between;   
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    gap: 25px;
}

.photos-rental img {
    width: 100%;
    height: 124px;
    border-radius: 1rem 1rem 0 0;
}


.heberg-card{
    width: 250px;
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1)
}

.afficher {
    font-weight: bold;
}

.heberg-card:hover {
    transform: scale(1.05)
}

/****** Infos ***********/
.info{
    display: flex;
    align-items:  center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.info-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-color);
    height: 24px;
    width: 24px;
    border-radius: 100%;
    font-size: 10px;
    margin-right: 5px;
}



/****** cards ***********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.card:hover {
    transform: scale(1.05)
}


/****** populaires ***********/
.populaires {
    width: 30%;
    background-color:var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
}

.populaires-title {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-subtitle {
    margin-top: 10px;
    margin-left: 2px;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/****** Activity ***********/
.activity { 
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.bloc-activity h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    margin-top: 30px ;
    margin-bottom: 30px;
}

.activity img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.activity h4 {
    font-weight: bold;
    margin-top: 20px;
    margin-left: 19px;
    margin-bottom: 20px;
}

.activity-card{
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    background-color: #fff;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.activity-card:hover{
    transform: scale(1.05)
}

.bloc-activity img{
    height: 380px;
    width: 297px;
    object-fit: cover;

}



/* Le code ci-dessous correspond à la version responsive uniquement */


.fa.fa-search {
    display: none;
}

/****** Media queries ***********/ 
@media (max-width: 1365px) {
    
    .photos-rental {
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .heberg-card {
        width: 30%;
        margin-bottom: 20px;
        max-width: 400px;
    }
    .heberg-pop {
        flex-direction: column;
        gap: 30px;
    }
    .populaires {
        width: 100%
    }
    .main-rental h2 {
        margin-bottom: 10px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .populaires-cards a {
        width: 30%;
    }
    .activity-card {
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .activity-card img {
        height: 200px;
    }
    .main {
        margin-left: 30px;
    }
}

/* Small devices (phones, less than 830px) */
@media (max-width: 830px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        gap: 20px;
        height: auto
    }
    #sitelogo {
        margin: auto;
    }
    header nav {
        width: 100%;
    }
    .navsub {
        display: flex;
        gap: 0;
        justify-content: space-evenly;
        width: 100%;
    }
    nav ul li {
        text-align: center;
        padding: 0 0 10px 0;
        width: 50%;
        border-bottom: 1px solid grey;
    }
    nav ul li:hover {
        border-bottom: 1px solid blue;
    }
    nav a:hover {
        padding-top: 0;
        border-top: none;
    }
    .search input {
        width: 100%
    }
    .fa.fa-search {
        display: flex;
    }
    .search-button {
        display: none;
    }
    .filters-section {
        flex-direction: column;
        align-items: flex-start;
    }
    .filter-container {
        width: 100%;
        justify-content: space-between;
    }
    .filter {
        width: 45%;
    }
    
    .search button{
        display:none
    }
    .photos-rental {
        flex-direction: column;
        object-fit: cover
    }
    .heberg-card {
        width: 100%;
    }
    
    .main-rental h2{
        font-size: 22px;
    }
    
    .afficher{
        font-size: 22px;
    }
    .populaires {
        order: -1
    }
    .populaires-cards{
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .populaires-cards a {
        width: 100%;
    }
    .activity-card img {
        height: 150px;
        width: 300px;
    }
    .activity {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .bloc-footer{
            flex-direction: column;
    }
    .main-rental{
        background-color:#fff
    }
    .populaires{
        background-color: #F2F2F2;
    }
    }
    /* Small devices (phones, less than 430px) */
    @media (max-width: 430px) {
    main {
        padding: 0
    }
    .title, .search, .filters-section, .info {
        padding: 0 20px
    }
    .populaires {
        border-radius: 0;
    }
    .fa.fa-search{
        background-color: var(--main-color);
        width: 49px;
        height: 49px;
    }
    .fa.fa-search{
    color: #fff;
    }
    .populaires h2{
        font-size: 22px;
    }
    .bloc-activity h2{
    margin-left: 45px;
    }
    .main-rental h2{
        margin-bottom: 15px;
        margin-top: -15px;
    }

}